.features {
  padding: 120px 0;

  .features-layout {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 64px;
    align-items: center;
  }

  /* LEFT IMAGES */
  .features-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 420px;
    gap: 16px;

    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
      border-radius: 16px;
    }

    .image-large {
      grid-row: span 2;
    }

    .image-stack {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 0px;
    }
  }

  /* RIGHT CONTENT */
  .features-content {
    h2 {
      font-size: clamp(28px, 4vw, 42px);
      line-height: 1.2;
      margin-bottom: 0px;
      color: $dark;
    }

    .features-intro {
      font-size: 18px;
      color: $gray-mid;
      margin-bottom: 40px;

      span {
        color: $orange;
        font-weight: 600;
      }
    }
  }

  .features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;

    li {
      display: flex;
      gap: 16px;
      align-items: flex-start;
    }

    .dot {
      width: 10px;
      height: 10px;
      margin-top: 8px;
      border-radius: 50%;
      background: $orange;
      flex-shrink: 0;
    }

    h3 {
      margin: 0 0 8px;
      font-size: 18px;
      color: $dark;
    }

    p {
      margin: 0;
      font-size: 15px;
      line-height: 1.6;
      color: $gray-mid;
    }
  }
}

/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 1024px) {
  .features {
    .features-images {
      height: 360px;
    }
  }
}

@media (max-width: 640px) {
  .features {
    padding: 80px 24px;
    gap: 60px;

    .features-layout {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .features-images {
        grid-template-columns: 1fr;
        height: auto;
        gap: 16px;

        .image-large {
          grid-row: auto;
          height: auto;
        }

        .image-stack {
          grid-template-rows: auto;
          gap: 16px;

          img {
            width: 100%;
            height: auto; // importante para mantener proporción
          }
        }

        img {
          width: 100%;
          height: auto; // asegurarse de que no se sobreponga
          object-fit: cover;
          border-radius: 16px;
        }
      }

      .features-content {
        h2 {
          font-size: 26px;
        }

        .features-intro {
          font-size: 16px;
          margin-bottom: 32px;
        }
      }
    }


  }
}